<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://dmdu@apps.xpand-it.com/stash/scm/xpxray/cucumberexample.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.xpandit.plugins.xrayjenkins.task.XrayExportBuilder plugin="xray-for-jira-connector@1.0.0">
      <xrayInstance>
        <configID>28ae9dd7-5f2a-47f1-9fea-4a21390e660c</configID>
        <alias>Postgres Instance v7</alias>
        <serverAddress>http://xray-tst-postgres-v7</serverAddress>
        <username>admin</username>
        <password>admin</password>
      </xrayInstance>
      <fields>
        <entry>
          <string>filter</string>
          <string>10604</string>
        </entry>
        <entry>
          <string>filePath</string>
          <string>features</string>
        </entry>
      </fields>
      <serverInstance>28ae9dd7-5f2a-47f1-9fea-4a21390e660c</serverInstance>
      <filter>10604</filter>
      <filePath>features</filePath>
    </com.xpandit.plugins.xrayjenkins.task.XrayExportBuilder>
    <hudson.tasks.BatchFile>
      <command>cucumber -x -f json -o report.json</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder plugin="xray-for-jira-connector@1.0.0">
      <xrayInstance reference="../../../builders/com.xpandit.plugins.xrayjenkins.task.XrayExportBuilder/xrayInstance"/>
      <endpoint>CUCUMBER_MULTIPART</endpoint>
      <dynamicFields>
        <entry>
          <string>importInfo</string>
          <string>{
   &quot;fields&quot;: {
      &quot;project&quot;: {
         &quot;key&quot;: &quot;WOOD&quot;
      },
      &quot;summary&quot;: &quot;Test Execution for cucumber Execution - Generated by job: ${BUILD_TAG}&quot;,
      &quot;issuetype&quot;: {
         &quot;id&quot;: &quot;10102&quot;
      },
      &quot;customfield_10203&quot;: [
         &quot;WOOD-50&quot;
      ]
   }
}</string>
        </entry>
        <entry>
          <string>inputInfoSwitcher</string>
          <string>fileContent</string>
        </entry>
        <entry>
          <string>importFilePath</string>
          <string>report.json</string>
        </entry>
      </dynamicFields>
      <formatSuffix>/cucumber/multipart</formatSuffix>
      <serverInstance>28ae9dd7-5f2a-47f1-9fea-4a21390e660c</serverInstance>
      <inputInfoSwitcher>fileContent</inputInfoSwitcher>
    </com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder>
  </publishers>
  <buildWrappers/>
</project>