<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder plugin="xray-jenkins@1.0-SNAPSHOT">
      <xrayInstance>
        <configID>ac115497-73fa-47ed-bd92-d01b4bb7bf15</configID>
        <alias>Xray demo v1.0</alias>
        <serverAddress>http://localhost:8080</serverAddress>
        <username>admin</username>
        <password>admin</password>
      </xrayInstance>
      <endpoint>JUNIT</endpoint>
      <dynamicFields>
        <entry>
          <string>projectKey</string>
          <string>PROJ</string>
        </entry>
        <entry>
          <string>testEnvironments</string>
          <string>ANDROID;IOS;CORDOVA;BATATA OS</string>
        </entry>
        <entry>
          <string>importFilePath</string>
          <string>JUnit/TestResult.xml</string>
        </entry>
        <entry>
          <string>revision</string>
          <string>${BUILD_ID} - ${BUILD_NUMBER}</string>
        </entry>
      </dynamicFields>
      <formatSuffix>/junit</formatSuffix>
      <serverInstance>ac115497-73fa-47ed-bd92-d01b4bb7bf15</serverInstance>
    </com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder>
    <com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder plugin="xray-jenkins@1.0-SNAPSHOT">
      <xrayInstance reference="../../com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder/xrayInstance"/>
      <endpoint>ROBOT</endpoint>
      <dynamicFields>
        <entry>
          <string>projectKey</string>
          <string>PROJ</string>
        </entry>
        <entry>
          <string>testEnvironments</string>
          <string>ANDROID;IOS;CORDOVA;</string>
        </entry>
        <entry>
          <string>importFilePath</string>
          <string>Robot/robot.xml</string>
        </entry>
        <entry>
          <string>revision</string>
          <string>${BUILD_ID} - ${BUILD_NUMBER}</string>
        </entry>
      </dynamicFields>
      <formatSuffix>/robot</formatSuffix>
      <serverInstance>ac115497-73fa-47ed-bd92-d01b4bb7bf15</serverInstance>
    </com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder>
    <com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder plugin="xray-jenkins@1.0-SNAPSHOT">
      <xrayInstance reference="../../com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder/xrayInstance"/>
      <endpoint>CUCUMBER</endpoint>
      <dynamicFields>
        <entry>
          <string>importFilePath</string>
          <string>report.json</string>
        </entry>
      </dynamicFields>
      <formatSuffix>/cucumber</formatSuffix>
      <serverInstance>ac115497-73fa-47ed-bd92-d01b4bb7bf15</serverInstance>
    </com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>