<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>Xray Test Project - Freestyle</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>jobs/Xray Test Project - Freestyle/workspace</customWorkspace>
  <builders/>
  <publishers>
    <com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder plugin="xray-jenkins@1.0-SNAPSHOT">
      <xrayInstance>
        <configID>89a9176c-deb5-40e2-b946-5f76b766cb20</configID>
        <alias>Xray local v2</alias>
        <serverAddress>http://localhost:8080</serverAddress>
        <username>admin</username>
        <password>admin</password>
      </xrayInstance>
      <endpoint>NUNIT</endpoint>
      <dynamicFields>
        <entry>
          <string>projectKey</string>
          <string>PROJ</string>
        </entry>
        <entry>
          <string>testEnvironments</string>
          <string>ANDROID;IOS;CORDOVA;BATATA OS</string>
        </entry>
        <entry>
          <string>importFilePath</string>
          <string>NUnit/TestResult.xml</string>
        </entry>
      </dynamicFields>
      <formatSuffix>/nunit</formatSuffix>
      <serverInstance>89a9176c-deb5-40e2-b946-5f76b766cb20</serverInstance>
    </com.xpandit.plugins.xrayjenkins.task.XrayImportBuilder>
  </publishers>
  <buildWrappers/>
</project>